<app-header></app-header>

<div class="row no-gutters section-1">
  <div class="col">
    <h1>Read Our Latest News</h1>
    <p class="mb-0">Home / Blog</p>
  </div>
</div>

<div class="container">
  <div class="row section-2">
    <div class="col-lg-9">
      <div class="blogs-blk">
        <div class="blogs-item" *ngFor="let blog of blogs" [ngStyle]="{'background': 'linear-gradient(rgba(0, 0, 0, .5),rgba(0, 0, 0, .5)), url(' + blog.img + ')'}">
          <p>{{ blog.title }}</p>
          <p>{{ blog.content }}</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="latest-news">
        <h4 class="heading-4">Latest News</h4>
  
        <div class="blog-thumb">
          <img class="img-fluid" src="../../../assets/img/mask-1.png" />
          <p>Bow Wow’s Drake at adidas Tweet Sets off Social Media</p>
        </div>
  
        <div class="blog-thumb">
          <img class="img-fluid" src="../../../assets/img/mask-1.png" />
          <p>Bow Wow’s Drake at adidas Tweet Sets off Social Media</p>
        </div>
  
        <div class="blog-thumb">
          <img class="img-fluid" src="../../../assets/img/mask-1.png" />
          <p>Bow Wow’s Drake at adidas Tweet Sets off Social Media</p>
        </div>
      </div>

      <div class="archives">
        <h4 class="heading-4">Archives</h4>

        <ul class="list-unstyled">
          <li><a href="#">March 2016</a></li>
          <li><a href="#">February 2016</a></li>
          <li><a href="#">January 2016</a></li>
          <li><a href="#">October 2016</a></li>
        </ul>
      </div>

      <div class="tags">
        <h4 class="heading-4">Tags</h4>
        
        <button type="button" class="btn btn-circular btn-primary mt-3">Design</button>
        <button type="button" class="btn btn-circular btn-default mt-3">Art</button>
        <button type="button" class="btn btn-circular btn-default mt-3">Development</button>
        <button type="button" class="btn btn-circular btn-default mt-3">Apps</button>
        <button type="button" class="btn btn-circular btn-default mt-3">Websites</button>
        <button type="button" class="btn btn-circular btn-default mt-3">HTML</button>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>