<footer>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="footer-left">
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Products</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
      </div>
      <div class="col">
        <div class="footer-center">
          <a href="#">Terms of Use <br> Privacy</a>
        </div>
      </div>
      <div class="col">
        <div class="footer-right">
          <div class="icon">
            <fa class="mr-2" name="facebook"></fa>
            <fa class="mr-2" name="twitter"></fa>
            <fa class="mr-2" name="google-plus"></fa>
          </div>
          <div class="copy">
            <p>&copy; 2018 Appworx</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>